@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2? family= Noto+Sans+KR:wght@400;500;700 & display=swap');
* { 
    margin:0; 
    padding:0; 
    box-sizing:border-box;
}
li { list-style:none; }
a { text-decoration:none; }
body { font-family:'Noto Sans KR', sans-serif; }
img { max-width:100%; }

.navbar {
    transition:0.5s;
}
header h2 { 
    font-size:4.5vw; 
    padding-top:90px; 
}
header h4 { font-size:16px; }
.navbar.scroll {
    background: #000000;
}
.navbar-dark .navbar-nav .nav-link.scroll > h1 {
    color: #000000;
}
.navbar-dark .navbar-nav .nav-link.scroll nav a {
    color: #000000;
}
.navbar-dark .navbar-nav .nav-link {
    color: #f0f0f0;
}
.navbar-dark .navbar-nav .nav-link:hover {
    color: #1DA4DE;
}
.dropdown-item:focus, .dropdown-item:hover {
    color: #9b1e56;
    background-color: #faf9f9;
}
.swiper { 
    position:relative; 
    width: 100%; 
    height:550px;
    overflow: hidden;
}
.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.swiper-pagination-bullet {
    width: 23px;
    height: 23px;
    text-align: center;
    line-height: 20px;
    font-size: 13px;
    color: #ffffff;
    opacity: 1;
    background: rgba(0, 0, 0, 0);
}
.swiper-pagination-bullet-active {
    border-radius: 100%;
    border: 1px solid #1DA4DE;
    color: #1DA4DE;
}
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    position: relative;
    bottom: 10px;
    left: -33vw;
}
.swiper-button-prev {
    left: 30px;
    color: rgba(255, 255, 255, 0.8);
}
.swiper-button-prev:hover {
    text-shadow: 0px 3px 3px rgba(54, 54, 54, 0.7);
}
.swiper-button-next {
    right: 30px;
    color: rgba(255, 255, 255, 0.8);
}
.swiper-button-next:hover {
    text-shadow: 0px 3px 3px rgba(54, 54, 54, 0.7);
}
.swiper-slide > .textbox {
    position: absolute;
    left: 22vh;
    top: 10px;
    bottom: 10vw;
    height: 0px;
    max-width: 100%;
    line-height: 1;
}
.swiper-slide > .textbox > .title {
    font-size: 3.8vw;
}
.swiper-slide > .textbox > h2 {
    position: absolute;
    top: -1vw;
    font-size: 2.6vw;
}
.textbox > a {
    position: absolute;
    top: -10vh;
}

.s5 {
    background-size: 30%;
}

section { padding:70px 0; }
section h2 { 
    font-size:36px; 
    line-height:1.4; 
    margin-bottom:60px;
}

.s2 {
    background: url('../img/s2.jpg') no-repeat 50% fixed;
    background-size: 100%;
    height: 480px;
    margin: 0 auto;
    max-width: 1300px;
}

.s2 > .d-flex {
    position: absolute;
}
    .txt { 
        position: relative;
        font-size: 4vw;
        width: 400px;
        height: 442px;
        padding: 61px;
        color: #f0f0f0;
        border: 5px solid red;
}
.right {
    float: right;
    right: 80px;
}
.right p {
    color: #f0f0f0;
    font-size: 28px;
}
.txt h2 { margin-bottom: 20px; }
.txt a { display: block; }
.txt img { margin-top: 50px; }

.s2_txt {
    position: relative;
    left: 33px;
}

.s2_txt > strong { 
    font-size: 87px;
    color: #eaeaea;
}
.s2_txt > span {
    font-size: 45px; 
}

section p { 
    font-size:14px;
    line-height:1.4; 
    color:#111111;
}
section p.mt { margin-top:80px; }


.Album {
    position: relative;
    margin-bottom: 11px;
}
.info {
    position: relative;
    height: 600px;
    width: 600px;
    overflow: hidden;
    border-radius: 200%;
}
.info span {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    background:rgba(117, 96, 96, 0.082); 
    box-shadow:inset 0 0 30px rgba(25, 5, 43, 1), 
    inset 0 0 150px rgba(20, 8, 71, 0.37);
    opacity: 0;
}
.info span > em {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 100px;
    border: 1px solid #ffffff;
    background-color: #fff;
    border-radius: 50%;
    transition: 0.3s;
}
.s3_txt {
    position: absolute;
    display: inline;
    float: right;
    right: -10vh;
    top: 10vw;
}
.album_wrap h2 {
    font-size: 90px;
}


#s4 > .container-xl {
    position: relative;
    margin-bottom: 3vw;
    font-size: 55px;
    overflow: hidden;
}


.select { 
    position: relative;
    left: -42px;
    line-height:40px; 
    margin-top:5px; 
}
.select a {
    display:block; 
    font-size:12px; 
}
.selectBtn a {
    background:#ffffff; 
    width: 136px;
    padding-left:20px; 
    color:#000000; 
}
.select:hover .selectMenu { display:block; }

.selectMenu { display: none; }
.selectMenu a {
    padding-left: 20px; 
    color: #000000; 
    background: #fff; 
}
.selectMenu a:hover {
    background:#1DA4DE;
    color:#fff; 
}

footer > div { 
    padding:2vw 0 2vw; 
    border-top:1px solid #424547
}
footer h3 { 
    color:#fff; 
    font-size:18px; 
    margin-bottom:25px;
}
.COPYRIGHT {
    color:#6e7479;
}
footer a ,footer p, address { color:#a3bed4; }
footer ul { padding-left:0; }
footer li { margin-bottom:10px; }
footer li a:hover { 
    color:#e9e9e9; 
    text-decoration:underline;
}
.sns a { 
    display:inline-block; 
    background:#2a2f3d; 
    max-width:32px; 
    height:32px; 
    line-height:32px; 
    border-radius:50%; 
    text-align:center; 
    margin-right:5px; 
    transition:0.2s; 
}
.sns a:hover { background:#1DA4DE; } 


/* 1200px 이상*/
@media ( min-width:1200px) {
    header h2 { font-size:3.5vw }
    header h4 { font-size:18px; }
}

/* 1200px 이하*/
@media ( max-width:1200px) {
    header h2 { font-size:3.5vw }
    header h4 { font-size:18px; }
    .swiper-slide > .textbox {
        left: 17vh;
        top: 10px;
        bottom: 7vw;
        height: 0px;
        max-width: 100%;
        line-height: 1;
    }
    .swiper-slide > .textbox > .title {
        font-size: 3.6vw;
    }
    .swiper-slide > .textbox > h2 {
        position: absolute;
        font-size: 2.5vw;
    }
    section img { max-width: 100%; }

    .txt {
        height: 335px;
    }

    .right p {
        font-size: 23px;
    }
    
    .info {
        position: relative;
        height: 500px;
        width: 500px;
        box-shadow:0px 0px 20px rgb(90, 90, 90);
    }
    .info img {
        max-height: 100%;
        height: 100%;
    }
    .album_wrap h2 {
        font-size: 60px;
    }
}

/* 767px 이하*/
@media ( max-width:767px) {
    header { padding:0 0 70px; }
    header h2 { font-size:30px }
    header h4 { font-size:12px; }
    header button { transform: scale(0.7); }
    header p { font-size:14px; }

    .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
        left: -19vw;
    }
    section { padding:40px 0; }
    section h2 { 
        font-size:24px; 
        margin-bottom:30px;
    }
    section p { font-size:12px; }
    section p.mt { margin-top:40px; }

    .swiper-slide > .textbox {
        position: absolute;
        left: 70px;
        top: 45px;
        bottom: -24vw;
        height: 0px;
        max-width: 100%;
        line-height: 1;
    }
    .swiper-slide > .textbox > .title {
        font-size: 4vw;
    }
    .swiper-slide > .textbox > h2 {
        top: -6vw;
        font-size: 2.8vw;
    }
    .textbox > a {
        position: absolute;
        top: -10vh;
    }
    .right p {
        font-size: 15px;
        right: 10%;
        position: relative;
    }
    .info {
        position: relative;
        height: 330px;
        width: 330px;
    }
    .txt {
        padding: 0;
        border: none;
        text-align: center;
        top: 10vw;
        right: 0;
        height: 0;
    }
    .s2 { 
        background: url('../img/s2.jpg') no-repeat 50%/100%; 
        height: 285px;
    }
    .s2_txt {
        text-align: center;
        position: fixed;
    }
    .s2_txt > strong {
        font-size: 40px;
    }
    .s2_txt > span {
        font-size: 25px;
    }
    .album_wrap h2 {
        position: relative;
        font-size: 30px;
        bottom: 6vh
    }
    .s3_txt {
        right: 0;
    }
    .s3_txt p {
        display: none;
    }
    #s4 { 
        padding-top: 70px;
    }
    #s4 > .container-xl {
        font-size: 35px;
        margin-bottom: 0vw;
    }
    
}
